article.w-full.overflow-hidden.shadow-lg.my-8.bg-gray-200( class="sm:rounded" data-tags=episode.tags )
  .px-6.py-4.flex-grow
    h1.font-bold.text-xl.mb-2 Episode #{episode.episodeNumber}: #{episode.title}
    p.mb-4= episode.description

  audio( controls preload="metadata" src=episode.url style="display: block; width: 100%; background-color: transparent;" )
    i Your browser does not support inline audio, add this podcast rss to your favorite podcast app.
